
{% set isMenuHeader = not not isMenuHeader|default(false) %}

<li {% if item.isCurrentEndPoint() %}class="active"{% elseif item.isCurrent() %}class="active-inner"{% endif %}>
    {% if item.isEnabled() %}<a href="{{ item.getUrl() }}">{% else %}<a href="#" class="item-disabled">{% endif %}
        {% if item.hasBootstrapIcon() %}<i class="{{ item.getBootstrapIcon() }}"></i> {% endif %}
        {{ item.getTitle(isMenuHeader) }}
        {% if item.hasCustomUrlIcon() %}<i class="{{ item.getCustomUrlIcon() }}"></i>{% endif %}
        {% if item.hasLockIcon() %}<i class="{{ item.getLockIcon() }}"></i> {% endif %}
    </a>
</li>
